<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/blog.css" />

    <link rel="icon" type="image/x-icon" href="/images/ReverrBlack2.svg" />

    <title>Reverr | Blogs</title>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-EGWDJKWYH7"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-EGWDJKWYH7");
    </script>
  </head>

  <body>
    <%-include("navbar");-%>
    <section id="blog-intro">
      <div class="blog-heading">
        <!--<img src="images/chain 1.png" alt="" /> -->
        <h1>Welcome to <span style="color: #2a72de">REVERR BLOGS</span></h1>
      </div>
      <p>
        Get the best and latest insights of the concepts from the
        entrepreneurial world.
      </p>
    </section>

    <section id="recent-post">
      <h1>Recent Posts</h1>
      <div class="sample-blog">
        <div class="blog-content">
          <p><%= data[0].publishedOn %></p>
          <h1>
            <a href="/blog/<%= data[0].id %>"><%= data[0].heading %></a>
          </h1>
          <p><%= data[0].body %></p>
        </div>
        <div class="blog-slider">
          <img src="/images/caret1.png" alt="" class="left-caret" />
          <img
            src="<%= data[0].image.imageUrl %>"
            alt="blog-img"
            class="sample-blog-img"
          />
          <img src="/images/caret2.png" alt="" class="right-caret" />
        </div>
      </div>
      <div class="blog-section-btns">
        <a><button id="sectionOneBtn">Section 01</button></a>
        <a><button id="sectionTwoBtn">Section 02</button></a>
        <a><button id="sectionThreeBtn">Section 03</button></a>
      </div>
      <div id="sectionOne">
        <div class="blog-container">
          <% for (var i = 0; i < 3; i++) { %>
          <div class="blog">
            <a href="/blog/<%= data[i].id %>"
              ><img src="<%=data[i].image.imageUrl %>" alt=""
            /></a>
            <p><%= data[i]?.publishedOn %></p>
            <h1>
              <a href="/blog/<%= data[i].id %>"
                ><%= (data[i].heading).slice(0,30) %></a
              >
            </h1>
            <p class="blog-text"><%= data[i].body %> ...</p>
          </div>
          <% } %>
        </div>
        <div class="blog-container">
          <% for (var i = 3; i < 6; i++) { %>
          <div class="blog">
            <a href="/blog/<%= data[i].id %>"
              ><img src="<%=data[i].image.imageUrl %>" alt=""
            /></a>
            <p><%= data[i]?.publishedOn %></p>
            <h1>
              <a href="/blog/<%= data[i].id %>"
                ><%= (data[i].heading).slice(0,30) %></a
              >
            </h1>
            <p class="blog-text"><%= data[i].body %> ...</p>
          </div>
          <% } %>
        </div>
      </div>
      <div id="sectionTwo">
        <div class="blog-container">
          <% for (var i = 6; i < 9; i++) { %>
          <div class="blog">
            <a href="/blog/<%= data[i].id %>"
              ><img src="<%=data[i].image.imageUrl %>" alt=""
            /></a>
            <p><%= data[i].publishedOn %></p>
            <h1>
              <a href="/blog/<%= data[i].id %>"
                ><%= (data[i].heading).slice(0,30) %></a
              >
            </h1>
            <p class="blog-text"><%= data[i].body %> ...</p>
          </div>
          <% } %>
        </div>
        <div class="blog-container">
          <% for (var i = 9; i < 11; i++) { %>
          <div class="blog">
            <a href="/blog/<%= data[i].id %>"
              ><img src="<%=data[i].image.imageUrl %>" alt=""
            /></a>
            <p><%= data[i].publishedOn %></p>
            <h1>
              <a href="/blog/<%= data[i].id %>"><%= data[i].heading %></a>
            </h1>
            <p class="blog-text"><%= data[i].body %> ...</p>
          </div>
          <% } %>
        </div>
      </div>
      <div id="sectionThree">
        <div class="blog-container">
          <% for (var i = 11; i < 14; i++) { %>
          <div class="blog">
            <a href="/blog/<%= data[i]?.id %>"
              ><img src="<%=data[i]?.image.imageUrl %>" alt=""
            /></a>
            <p><%= data[i]?.publishedOn %></p>
            <h1>
              <a href="/blog/<%= data[i]?.id %>"><%= data[i]?.heading %></a>
            </h1>
            <p class="blog-text"><%= data[i]?.body %> ...</p>
          </div>
          <% } %>
        </div>
        <div class="blog-container">
          <% for (var i = 14; i < 17; i++) { %>
          <div class="blog">
            <a href="/blog/<%= data[i]?.id %>"
              ><img src="<%=data[i]?.image.imageUrl %>" alt=""
            /></a>
            <p><%= data[i]?.publishedOn %></p>
            <h1>
              <a href="/blog/<%= data[i]?.id %>"><%= data[i]?.heading %></a>
            </h1>
            <p class="blog-text"><%= data[i]?.body %> ...</p>
          </div>
          <% } %>
        </div>
      </div>
    </section>
    <%-include("footerNew")-%>
  </body>
  <script>
    const sectionOneBtn = document.querySelector("#sectionOneBtn");
    const sectionTwoBtn = document.querySelector("#sectionTwoBtn");
    const sectionThreeBtn = document.querySelector("#sectionThreeBtn");

    sectionOneBtn.style.opacity = "1";
    sectionTwoBtn.style.opacity = "0.3";
    sectionThreeBtn.style.opacity = "0.3";

    const sectionOne = document.querySelector("#sectionOne");
    const sectionTwo = document.querySelector("#sectionTwo");
    const sectionThree = document.querySelector("#sectionThree");

    sectionOne.style.display = "block";
    sectionTwo.style.display = "none";
    sectionThree.style.display = "none";

    const handleS1 = () => {
      sectionOne.style.display = "block";
      sectionTwo.style.display = "none";
      sectionThree.style.display = "none";
      sectionOneBtn.style.opacity = "1";
      sectionTwoBtn.style.opacity = "0.3";
      sectionThreeBtn.style.opacity = "0.3";
    };
    const handleS2 = () => {
      sectionOne.style.display = "none";
      sectionTwo.style.display = "block";
      sectionThree.style.display = "none";
      sectionOneBtn.style.opacity = "0.3";
      sectionTwoBtn.style.opacity = "1";
      sectionThreeBtn.style.opacity = "0.3";
    };
    const handleS3 = () => {
      sectionOne.style.display = "none";
      sectionTwo.style.display = "none";
      sectionThree.style.display = "block";
      sectionOneBtn.style.opacity = "0.3";
      sectionTwoBtn.style.opacity = "0.3";
      sectionThreeBtn.style.opacity = "1";
    };

    sectionOneBtn.addEventListener("click", handleS1);
    sectionTwoBtn.addEventListener("click", handleS2);
    sectionThreeBtn.addEventListener("click", handleS3);
  </script>
</html>
