<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Blog</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/blogItem.css" />
  </head>
  <body>
    <%-include("contactheader")-%>
    <%-include("header")-%>
    <section id="content">
      <h1><%= data.heading %></h1>
      <img src="<%= data.image.imageUrl %>" />
      <div class="details">
        <p class="blog-author"><b><%= data.author %></b></p>
        <p class="date"><b><%= data.publishedOn %></b></p>
      </div>
      <p><%= data.body %></p>
    </section>
    <%-include("footer")-%>
  </body>
</html>
