<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <%- include('header'); -%>
    <section class="hero__main">
      <div class="grid">
        <div class="item1 hero__heading">
          Making your startup journey feel like a walk in the garden
        </div>
        <div class="item2 hero__para flex_hero">
          Strive to bring you the best mentorship,sp guidance, and insights for
          the startups you're building
          <div>
            <button class="item3 hero__button">Download our app</button>
          </div>
        </div>

<<<<<<< HEAD
<section class="stats">
  <div class="stats__heading">Our Stats</div>
  <div class="flex_stats">
    <div class="stats__card">
      <img
        src="/images/stats_white.png"
        class="stats__card--imageWhite"
        alt=""
      />
      <div class="blue_blob"><div class="blue_blob_text">50</div></div>
      <div class="stats__card--heading">Start ups registered</div>
    </div>
    <div class="stats__card">
      <img
        src="/images/stats_white.png"
        class="stats__card--imageWhite"
        alt=""
      />
      <div class="blue_blob"><div class="blue_blob_text">75+</div></div>
      <div class="stats__card--heading">mentors</div>
    </div>
    <div class="stats__card">
      <img
        src="/images/stats_white.png"
        class="stats__card--imageWhite"
        alt=""
      />
      <div class="blue_blob"><div class="blue_blob_text">25+</div></div>
      <div class="stats__card--heading">Startups Funded</div>
    </div>
    <div class="stats__card">
      <img
        src="/images/stats_white.png"
        class="stats__card--imageWhite"
        alt=""
      />
      <div class="blue_blob"><div class="blue_blob_text">250+</div></div>
      <div class="stats__card--heading">Community Members</div>
    </div>
  </div>
</section>

<section class="tagline">
  <div class="flex__tagline">
    <img src="/images/tagline.png" class="tagline__image" alt="" />
    <div class="tagline__para">
      Our hearts broke upon seeing the lack of hands-on support for
      entrepreneurs starting up in the market, so we got you REVERR
    </div>
  </div>
</section>

<section class="funding">
  <div class="grid__funding">
    <div class="funding__card">
      <img src="./images/funding3.png" class="funding__image" alt="" />
      <div class="funding__heading">Mentorship</div>
      <div class="funding__para">
        Our experienced mentors guide and teach you about the intricacies of
        investing and prevent you from making mistakes which may cost you a
        fortune.
      </div>
      <a href="/mentorship"
        ><button class="funding__button">Know More</button></a
      >
    </div>
    <div class="funding__card">
      <img src="./images/funding1.png" class="funding__image" alt="" />
      <div class="funding__heading">Networking</div>
      <div class="funding__para">
        Our wide range of network of start ups and investors enables them to
        connect with each other and grow together
      </div>
      <a href="/networking"
        ><button class="funding__button">Know More</button></a
      >
    </div>
    <div class="funding__card">
      <img src="./images/funding2.png" class="funding__image" alt="" />
      <div class="funding__heading">Knowledge</div>
      <div class="funding__para">
        We have an experienced team who is eager to impart their learnings and
        help you along your journey.
      </div>
      <a href="/knowledge"
        ><button class="funding__button">Know More</button></a
      >
    </div>
    <div class="funding__card">
      <img src="./images/image 71.png" class="funding__image" alt="" />
      <div class="funding__heading">Funding</div>
      <div class="funding__para">
        Helping startups and founders raise money from the very beginning
=======
        <div class="item4 hero__image-background">
          <img src="/images/elipse223.png" class="hero__image" alt="" />
          <div class="hero__image-para">Become a Mentor</div>
        </div>
        <div class="item5 hero__image-background">
          <img src="/images/elipse223.png " class="hero__image" alt="" />
          <div class="hero__image-para">Become a Mentor</div>
        </div>
        <div class="item6 hero__image-background">
          <img src="/images/elipse223.png" class="hero__image" alt="" />
          <div class="hero__image-para">Become a Mentor</div>
        </div>
        <div class="item7 hero__image-background">
          <img src="/images/elipse223.png" class="hero__image" alt="" />
          <div class="hero__image-para">Become a Mentor</div>
        </div>
      </div>
    </section>

    <section class="aim">
      <!-- <img src="/images/image57.png" class="aim__image" alt="" /> -->
      <div class="aim__para--position">
        <div class="aim__heading">Our only AIM is to</div>
        <div class="aim__para">
          “ Help Entrepreneurs and Start-ups to grow ”
        </div>
      </div>
    </section>

    <section class="video">
      <div class="video__heading">
        Why is <span style="color: #2a72de">REVERR</span> for you?
      </div>
      <img src="/images/video_image.png" class="video__video" alt="" />
    </section>

    <section class="stats">
      <div class="stats__heading">Our Stats</div>
      <div class="flex_stats">
        <div class="stats__card">
          <img
            src="/images/stats_white.png"
            class="stats__card--imageWhite"
            alt=""
          />
          <div class="blue_blob"><div class="blue_blob_text">200+</div></div>
          <div class="stats__card--heading">I'm a heading.</div>
          <div class="stats__card--para">
            I'm a paragraph. Click here to add your own text and edit me. It's
            easy. Just click “Edit Text”
          </div>
        </div>
        <div class="stats__card">
          <img
            src="/images/stats_white.png"
            class="stats__card--imageWhite"
            alt=""
          />
          <div class="blue_blob"><div class="blue_blob_text">10K+</div></div>
          <div class="stats__card--heading">I'm a heading.</div>
          <div class="stats__card--para">
            I'm a paragraph. Click here to add your own text and edit me. It's
            easy. Just click “Edit Text”
          </div>
        </div>
        <div class="stats__card">
          <img
            src="/images/stats_white.png"
            class="stats__card--imageWhite"
            alt=""
          />
          <div class="blue_blob"><div class="blue_blob_text">150+</div></div>
          <div class="stats__card--heading">I'm a heading.</div>
          <div class="stats__card--para">
            I'm a paragraph. Click here to add your own text and edit me. It's
            easy. Just click “Edit Text”
          </div>
        </div>
        <div class="stats__card">
          <img
            src="/images/stats_white.png"
            class="stats__card--imageWhite"
            alt=""
          />
          <div class="blue_blob"><div class="blue_blob_text">800+</div></div>
          <div class="stats__card--heading">I'm a heading.</div>
          <div class="stats__card--para">
            I'm a paragraph. Click here to add your own text and edit me. It's
            easy. Just click “Edit Text”
          </div>
        </div>
      </div>
    </section>

    <section class="tagline">
      <div class="flex__tagline">
        <img src="/images/tagline.png" class="tagline__image" alt="" />
        <div class="tagline__para">
          I'm a Tagline. Click here to add your own text and edit me. It’s easy.
          Just click “Edit Text” or double click me to add your own content.
        </div>
>>>>>>> 5ae73f2c12d74368aa4e214c8319544186b861df
      </div>
    </section>

    <section class="funding">
      <div class="grid__funding">
        <div class="funding__card">
          <img src="./images/funding3.png" class="funding__image" alt="" />
          <div class="funding__heading">Mentorship</div>
          <div class="funding__para">
            I'm a paragraph. Click here to add your own text and edit me. It’s
            easy. Just click “Edit Text” or double click me to add your own
            content.
          </div>
          <a href="/mentorship"
            ><button class="funding__button">Know More</button></a
          >
        </div>
<<<<<<< HEAD
      </li>
      <li id="carousel__slide2" tabindex="0" class="carousel__slide">
        <div class="carousel__snapper"></div>
        <a href="#carousel__slide1" class="carousel__prev"
          >Go to previous slide</a
        >
        <a href="#carousel__slide3" class="carousel__next">Go to next slide</a>
      </li>
      <li id="carousel__slide3" tabindex="0" class="carousel__slide">
        <div class="carousel__snapper"></div>
        <a href="#carousel__slide2" class="carousel__prev"
          >Go to previous slide</a
        >
        <a href="#carousel__slide4" class="carousel__next">Go to next slide</a>
      </li>
      <li id="carousel__slide4" tabindex="0" class="carousel__slide">
        <div class="carousel__snapper"></div>
        <a href="#carousel__slide3" class="carousel__prev"
          >Go to previous slide</a
        >
        <a href="#carousel__slide1" class="carousel__next">Go to first slide</a>
      </li>
    </ol>
    <aside class="carousel__navigation">
      <ol class="carousel__navigation-list">
        <li class="carousel__navigation-item">
          <a href="#carousel__slide1" class="carousel__navigation-button"
            >Go to slide
          </a>
        </li>
        <li class="carousel__navigation-item">
          <a href="#carousel__slide2" class="carousel__navigation-button"
            >Go to slide
          </a>
        </li>
        <li class="carousel__navigation-item">
          <a href="#carousel__slide3" class="carousel__navigation-button"
            >Go to slide
          </a>
        </li>
        <li class="carousel__navigation-item">
          <a href="#carousel__slide4" class="carousel__navigation-button"
            >Go to slide
          </a>
        </li>
      </ol>
    </aside>
  </section>
</section>
<%-include('testimonials');-%> <%- include('footer'); -%> <%- include('footer');
-%>
=======
        <div class="funding__card">
          <img src="./images/funding1.png" class="funding__image" alt="" />
          <div class="funding__heading">Networking</div>
          <div class="funding__para">
            I'm a paragraph. Click here to add your own text and edit me. It’s
            easy. Just click “Edit Text” or double click me to add your own
            content.
          </div>
          <a href="/networking"
            ><button class="funding__button">Know More</button></a
          >
        </div>
        <div class="funding__card">
          <img src="./images/funding2.png" class="funding__image" alt="" />
          <div class="funding__heading">Knowledge</div>
          <div class="funding__para">
            I'm a paragraph. Click here to add your own text and edit me. It’s
            easy. Just click “Edit Text” or double click me to add your own
            content.
          </div>
          <a href="/knowledge"
            ><button class="funding__button">Know More</button></a
          >
        </div>
        <div class="funding__card">
          <img src="./images/image 71.png" class="funding__image" alt="" />
          <div class="funding__heading">Funding</div>
          <div class="funding__para">
            I'm a paragraph. Click here to add your own text and edit me. It’s
            easy. Just click “Edit Text” or double click me to add your own
            content.
          </div>
          <a href="/funding"
            ><button class="funding__button">Know More</button></a
          >
        </div>
      </div>
    </section>

    <section class="corousel">
      <section class="carousel" aria-label="Gallery">
        <ol class="carousel__viewport">
          <li id="carousel__slide1" tabindex="0" class="carousel__slide">
            <div class="carousel__snapper">
              <a href="#carousel__slide4" class="carousel__prev"
                >Go to last slide</a
              >
              <a href="#carousel__slide2" class="carousel__next"
                >Go to next slide</a
              >
            </div>
          </li>
          <li id="carousel__slide2" tabindex="0" class="carousel__slide">
            <div class="carousel__snapper"></div>
            <a href="#carousel__slide1" class="carousel__prev"
              >Go to previous slide</a
            >
            <a href="#carousel__slide3" class="carousel__next"
              >Go to next slide</a
            >
          </li>
          <li id="carousel__slide3" tabindex="0" class="carousel__slide">
            <div class="carousel__snapper"></div>
            <a href="#carousel__slide2" class="carousel__prev"
              >Go to previous slide</a
            >
            <a href="#carousel__slide4" class="carousel__next"
              >Go to next slide</a
            >
          </li>
          <li id="carousel__slide4" tabindex="0" class="carousel__slide">
            <div class="carousel__snapper"></div>
            <a href="#carousel__slide3" class="carousel__prev"
              >Go to previous slide</a
            >
            <a href="#carousel__slide1" class="carousel__next"
              >Go to first slide</a
            >
          </li>
        </ol>
        <aside class="carousel__navigation">
          <ol class="carousel__navigation-list">
            <li class="carousel__navigation-item">
              <a href="#carousel__slide1" class="carousel__navigation-button"
                >Go to slide 1</a
              >
            </li>
            <li class="carousel__navigation-item">
              <a href="#carousel__slide2" class="carousel__navigation-button"
                >Go to slide 2</a
              >
            </li>
            <li class="carousel__navigation-item">
              <a href="#carousel__slide3" class="carousel__navigation-button"
                >Go to slide 3</a
              >
            </li>
            <li class="carousel__navigation-item">
              <a href="#carousel__slide4" class="carousel__navigation-button"
                >Go to slide 4</a
              >
            </li>
          </ol>
        </aside>
      </section>
    </section>
    <%- include('footer'); -%>
  </body>
</html>
>>>>>>> 5ae73f2c12d74368aa4e214c8319544186b861df
